---
import { Footer, Header, SideBar } from '../components';
import { routes } from '../i18n/config';
import type { Locale, RouteKey } from '../utils/docs-static-paths';
import { findRouteKeyFromPath } from '../utils/i18n';

import '../styles/global.css';

const { pageTitle, paddingTop = true } = Astro.props;

// Determine the current locale and route key based on the URL.
const pathname = Astro.url.pathname.replace(/\/$/, '');
const parts = pathname.split('/').filter(Boolean);

const currentLocale = parts[0] as Locale;
const routeKey = findRouteKeyFromPath(currentLocale, parts, routes) as RouteKey;
---

<html lang={currentLocale}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle} | GC Design System</title>
    <meta name="og:title" content={`${pageTitle} | GC Design System`} />

    <!-- GC Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap"
      rel="stylesheet"
    />


    <!-- GC Design System -->
    <link rel="stylesheet" href="/assets/gcds/gcds.css">
    <script type="module" src="/assets/gcds/gcds.esm.js"></script>
  </head>
  <body>
    <Header currentLocale={currentLocale} routeKey={routeKey} />

    <div class="content-wrapper">
      <gcds-grid
        columns="minmax(0, 1fr)"
        columns-desktop="20rem minmax(0, 1fr)"
        tag="div"
        container="xl"
        alignment="center"
        class="layout-grid"
      >
        <SideBar currentLocale={currentLocale} routeKey={routeKey} />
        <main id="main-content" class={paddingTop ? 'has-padding' : ''}>
          <slot name="hero" />
          <slot />
          <gcds-date-modified class="date-modified">21.05.2025</gcds-date-modified>
        </main>
      </gcds-grid>

      <Footer />
    </div>
  </body>
</html>
