---
import { DateModified, Footer, Header } from '../components';
import { routes } from '../i18n/config';
import { findRouteKeyFromPath } from '../utils/i18n';
import { getLastModifiedForRoute } from '../utils/lastModified';

import '../styles/global.css';
import SideNav from '../components/SideNav.astro';

interface Props {
  pageTitle: string;
  paddingTop?: boolean;
  contentRoot?: string;
}

const {
  pageTitle,
  paddingTop = true,
  contentRoot = 'src/content/versioned'
} = Astro.props as Props;

// Determine the current locale and route key based on the URL.
const pathname = Astro.url.pathname.replace(/\/$/, '');
const parts = pathname.split('/').filter(Boolean);

const currentLocale = parts[0];
const routeKey = findRouteKeyFromPath(currentLocale, parts, routes);

const lastModified = await getLastModifiedForRoute(Astro.url.pathname, {
  contentRoot,
  locale: currentLocale
});
---

<html lang={currentLocale}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle} | GC Design System</title>
    <meta name="og:title" content={`${pageTitle} | GC Design System`} />

    <!-- GC Design System CSS Shortcuts -->
    <link
      rel="stylesheet"
      href="/node_modules/@gcds-core/css-shortcuts/dist/gcds-css-shortcuts.min.css"
    />

    <!-- GC Design System -->
    <link rel="stylesheet" href="/node_modules/@gcds-core/components/dist/gcds/gcds.css" />
    <script type="module" src="/node_modules/@gcds-core/components/dist/gcds/gcds.esm.js"></script>
  </head>
  <body>
    <Header currentLocale={currentLocale} routeKey={routeKey} />
    <div class="content-wrapper">
      <gcds-grid columns="minmax(0, 1fr)" columns-desktop="320px minmax(0, 1fr)" tag="div" container="xl" alignment="center" class="xl:px-0 sm:px-600 px-225 general-layout">
        <SideNav />
        <main id="main-content" class={`${paddingTop ? 'has-padding' : ''}`}>
          <slot />
          <DateModified value={lastModified} locale={currentLocale} />
        </main>
      </gcds-grid>
      <Footer />
    </div>
  </body>
</html>

<style>
  body,
  html {
    height: 100%;
  }

  #main-content.has-padding {
    padding-block-start: var(--gcds-spacing-600);
  }
</style>