---
import BaseLayout from '../../layouts/BaseLayout.astro';

import { Heading, HelpUs, Text } from '../../components';

const { lastModified } = Astro.props;
import newAccessibility from '../../assets/img/home/new-accessibility.jpg';
import newDemo from '../../assets/img/home/new-demo.jpg';
import newGetInvolved from '../../assets/img/home/new-get-involved.jpg';
import newReleases from '../../assets/img/home/new-releases.jpg';
import newRoadmap from '../../assets/img/home/new-roadmap.jpg';
import newVideos from '../../assets/img/home/new-videos.jpg';
import toolsComponents from '../../assets/img/home/tools-components.png';
import toolsCssUtil from '../../assets/img/home/tools-css-util.png';
import toolsTemplates from '../../assets/img/home/tools-templates.png';
import toolsTokens from '../../assets/img/home/tools-tokens.png';
---

<BaseLayout pageTitle="D'accueil" paddingTop={false} lastModified={lastModified}>
  <section class="section--hero" slot="hero">
    <div>
      <article class="container-xl mx-auto">
        <Heading tag="h1">Système de design GC</Heading>
        <Text role="light"><strong>Créez des services gouvernementaux modernes<br/>accessibles et humains destinés au public.</strong></Text>
      </article>
    </div>
  </section>
  <section class="section--start">
    <Heading tag="h2">Commencez à utiliser GC Design System</Heading>
    <gcds-grid class="mt-600" columns-tablet="1fr 1fr" columns="1fr">
      <div>
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/3/33/Figma-logo.svg"
          alt="Figma logo"
          width="45"
          height="45"
        />
        <Heading tag="h3" mt="0">Concevoir des expériences</Heading>
        <Text>Visitez notre bibliothèque Figma pour explorer nos ressources de conception.</Text>
        <gcds-link href="" external>Commencez à concevoir</gcds-link>
      </div>
      <div>
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/9/91/Octicons-mark-github.svg"
          alt="Github logo"
          width="45"
          height="45"
        />
        <Heading tag="h3" mt="0">Développez des produits</Heading>
        <Text>Installez l'ensemble de composants.</Text>
        <gcds-link href="" external>Commencer à développer</gcds-link>
      </div>
    </gcds-grid>
  </section>
  <section class="section--tools">
    <Heading tag="h2">Un système de design rien que pour vous</Heading>
    <Text>Explorez notre outil de conception. <a href="">Donnez-nous votre avis.</a></Text>
    <gcds-grid columns-desktop="1fr 1fr 1fr" columns-tablet="1fr 1fr" columns="1fr">
      <gcds-card
        card-title="Unités de style"
        href="#"
        description="Découvrez nos jetons de conception, nos espacements et nos styles typographiques qui constituent la base du système de conception GC."
        img-src={toolsTokens.src}
      />
      <gcds-card
        card-title="Composants"
        href="#"
        description="Sélectionnez du code réutilisable pour les composants courants, associé à des conseils de bonnes pratiques, pour le framework que vous utilisez."
        img-src={toolsComponents.src}
      />
      <gcds-card
        card-title="Cadre CSS"
        href="#"
        description="TODO - Lorem Ipsum is dummy text of the printing and  typesetting industry. Lorem Ipsum has been dummy text since the 1500s."
        img-src={toolsCssUtil.src}
      />
      <gcds-card
        card-title="Modèles de page"
        href="#"
        description="Commencez votre projet avec des pages de base prédéfinies qui offrent une expérience Canada.ca cohérente et reconnaissable."
        img-src={toolsTemplates.src}
      />
      <gcds-card
        card-title="Motifs"
        href="#"
        description="TODO - Lorem Ipsum is dummy text of the printing and  typesetting industry. Lorem Ipsum has been dummy text since the 1500s."
        img-src={toolsTemplates.src}
      />
      <gcds-card
        card-title="Vidéos d'apprentissage"
        href="#"
        description="TODO - Lorem Ipsum is dummy text of the printing and  typesetting industry. Lorem Ipsum has been dummy text since the 1500s."
        img-src={toolsTemplates.src}
      />
    </gcds-grid>
  </section>
  <section class="banner-mailing-list bg-full-width bg-light-blue my-600 py-600">
    <Heading tag="h2" mt="0">Abonnez-vous à notre liste de diffusion</Heading>
    <Text>Abonnez-vous à notre liste de diffusion pour recevoir les mises à jour du système de conception GC, les communications de sortie et les événements spéciaux.</Text>
    <gcds-button>S'abonner</gcds-button>
  </section>
  <section class="section--new">
    <Heading tag="h2">Nouveautés</Heading>
    <gcds-grid columns-desktop="1fr 1fr 1fr" columns-tablet="1fr 1fr" columns="1fr">
      <gcds-card
        card-title="Participer à une démo"
        href="#"
        description="Découvrir comment Système de design GC peut fonctionner pour vous et votre équipe."
        img-src={newDemo.src}
      />
      <gcds-card
        card-title="L'accessibilité"
        href="#"
        description="Passez en revue les pratiques et les examens en matière d'accessibilité au sein du système de design."
        img-src={newAccessibility.src}
      />
      <gcds-card
        card-title="Feuille de route"
        href="#"
        description="TODO"
        img-src={newRoadmap.src}
      />
      <gcds-card
        card-title="S'impliquer"
        href="#"
        description="Découvrez sur quoi l'équipe travaille et comment vous pouvez y contribuer."
        img-src={newGetInvolved.src}
      />
      <gcds-card
        card-title="Dernières versions"
        href="#"
        description="Découvrez les derniers ajouts et les nouvelles fonctionnalités."
        img-src={newReleases.src}
      />
      <gcds-card
        card-title="Vidéos d'apprentissage"
        href="#"
        description="TODO"
        img-src={newVideos.src}
      />
    </gcds-grid>
  </section>
  <HelpUs locale="fr" />
</BaseLayout>
